				<main class="content">
					<div class="container-fluid p-0">

						<div class="mb-3">
							<h1 class="h3 d-inline align-middle">Profile</h1>
						</div>
						<div class="row">
							<div class="col-md-4 col-xl-3">
								<div class="card mb-3">
									<div class="card-header">
										<h5 class="card-title mb-0 text-center">Informations du profil</h5>
									</div>
									<div class="card-body text-center">
										<h5 class="card-title mb-0">Nom Prenom</h5>
									</div>
									<hr class="my-0" />
								</div>
							</div>

							<div class="col-md-8 col-xl-9">
								<div class="card">
								  <div class="card-header">
									<h5 class="card-title mb-0">Modifier informations</h5>
								  </div>
								  <div class="card-body h-100">
									<div class="d-flex align-items-start justify-content-center">
										<form class="login100-form validate-form" method="POST" action="{% url 'editEtudiant' %}">
											{% csrf_token %}

											<!-- Afficher les erreurs -->
											{% if error %}
											<br>
											<div class="alert alert-danger" role="alert">
												{{ error }}
											</div>
											{% endif %}

											<!-- Informations personnelles -->
											<div>
												<h2>Informations personnelles</h2>

												<div class="wrap-input100 validate-input mb-2 mt-3" data-validate="Pseudo">
													<label for="pseudo">Pseudo</label>
													<input class="input100" type="text" id="pseudo" name="pseudo" value="{{ etudiant.login }}" autocomplete="off">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="École d'origine">
													<label for="ecole">Établissement</label>
													<input class="input100" type="text" id="ecole" name="etablissement" value="{{ etudiant.etablissement }}" autocomplete="off">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="Nom">
													<label for="nom">Nom</label>
													<input class="input100" type="text" id="nom" name="nom" value="{{ etudiant.nom }}" autocomplete="off">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="Prénom">
													<label for="prenom">Prénom</label>
													<input class="input100" type="text" id="prenom" name="prenom" value="{{ etudiant.prenom }}" autocomplete="off">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="Date de naissance">
													<label for="date_naissance">Date de naissance</label>
													<input class="input100" type="date" id="date_naissance" name="date_naissance" value="{{ valueDate }}" autocomplete="off">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="Mail">
													<label for="mail">Mail</label>
													<input class="input100" type="email" id="mail" name="mail" value="{{ etudiant.mail }}" autocomplete="off">
												</div>
											</div>

											<!-- Champs de sécurité (mots de passe) -->
											<div class = "mt-5">
												<h2>Sécurité</h2>

												<div class="wrap-input100 validate-input mb-3 mt-3" data-validate="Ancien mot de passe">
													<label for="ancien_mot_de_passe">Ancien mot de passe</label>
													<input class="input100" type="password" id="ancien_mot_de_passe" name="Ancien mot de passe">
												</div>

												<div class="wrap-input100 validate-input mb-2" data-validate="Mot de passe">
													<label for="nouveau_mot_de_passe">Nouveau mot de passe</label>
													<input class="input100" type="password" id="nouveau_mot_de_passe" name="Mot de passe">
												</div>

												<div class="wrap-input100 validate-input mb-3" data-validate="Confirmer le nouveau mot de passe">
													<label for="confirmer_mot_de_passe">Confirmer le nouveau mot de passe</label>
													<input class="input100" type="password" id="confirmer_mot_de_passe" name="Confirmer votre nouveau mot de passe">
												</div>
											</div>

											<div class="container-login100-form-btn">
												<button class="login100-form-btn mb-3">Confirmer les changements</button>
											</div>
										</form>



									</div>
									<hr />
									<div class="d-flex align-items-start justify-content-center">
									  <div class="flex-grow-1">
										<div class="d-flex align-items-start">
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>

						</div>

					</div>
				</main>